{% extends "layout.html" %}

{% block title %}
    Information
{% endblock %}

{% block main %}
<div>
    <h1 class='w3-padding-24' style="font-family: 'Times New Roman', Times, serif;"> First Steps</h1>
    <p style="font-size: large; font-family: 'Times New Roman', Times, serif;"> Getting your first hockey stick can be very confusing. There are a ton of different parts, from flex to curve to size and much more. This page
        will give you an in-depth description of each of these parts and allow you to pick the best stick from our site!
    </p>
</div>
<div class = 'w3-container w3-text-black' style="font-family: 'Times New Roman', Times, serif;">
    <h1 style="font-family: 'Times New Roman', Times, serif;"> Size </h1>
    <p>
        The first thing about getting a stick that is neccesary to know is the size. Once you start playing, feel free to play around with different sizes of sticks and find which one you like best. There is no 
        specific science on how long or short your stick should be. That being said, here are some general rules for buying your first stick. If you are 7 years or younger, you should probably go with a Youth stick.
        Ages 7-11 should likely buy a Junior stick, although if you are on the taller/heavier side Intermediate may be better. Ages 11-14 should likely go for an Intermediate stick, although if you are smaller for your age it
        is likely better to stay with a Junior to start. If you happen to be extra tall at this age, unless you are also fairly heavy it is probably best to stay at an Intermediate based on flex, which will be explained later. 
        Ages 15 and up should probably start with a Senior stick, and most if not all will stay using a Senior for the rest of their career.
    </p>
    <h1 class="times">
        Flex
    </h1>
    <p>
        Flex is one of the more confusing parts of buying a stick for people that have never bought one before. The higher the flex, the less the stick bends, or "flexes". With that said, some people like a stick that bends more 
        when the pass or shoot so they get lower flexes, and some people like a stiffer stick which leads to them buying higher flex sticks. A general rule is the flex should be around half your bodyweight. Depending on the size of the stick
        different flexes will be offered, so try and choose the one closest to around half your bodyweight but it is not an exact science. Once you get to senior sticks and are heavier, it is common to have a flex lower than half your body wieght, 
        as flex generally maxes out around 95. When getting your first stick I recommned trying to stick to the half bodyweight rule, but try different flexes and mess around to try and find which flex works best for you personally.
    </p>
    <h1 class="times">
        Curve
    </h1>
    <p>
        Curve is also a fairly confusing part of buying a stick as they come with weird names and are hard to explain. In general terms, the curve is just how the blade of the stick is designed. Some have deeper curves, or the curve starts further towards the heel
        or the toe, etc. For a more comprehensive explanation of stick curves, I recommend going to this website <a href="https://www.purehockey.com/c/hockey-stick-blade-guide">here</a>.
    </p>
    <h1 class="times">
        Kick Point
    </h1>
    <p>
        Kick point is generally where the stick will flex when shooting or passing a puck. Most brands have different models of sticks for each flexpoint. There are low, medium, and high kickpoints each designed for different styles of playing.
        This website <a href="https://puckstop.com/blog/hockey-stick-kickpoint">here</a> is a very good resource for finding the kickpoint you would like the best. At the end of the page is the models of each brand that correspond to the kickpoints, so if you 
        want to use a certain kickpoint, look for that model on our website. 
    </p>
</div>
{% endblock %}
